<html>
	<head></head>
	<body>
		<form action="/operation" method="POST">
			<input type="text" name="num1" />
			<input type="text" name="num2" />
			<button type="submit" name="operation" value="addition">ADD</button>
			<button type="submit" name="operation" value="sustraction">SUSTRACT</button>
			<button type="submit" name="operation" value="multiplication">MULTIPLY</button>
			<button type="submit" name="operation" value="division">DIVIDE</button>
		</form>
		<p><a href="/counting">Counting</a></p>
	</body>
</html>