<html>
	<head></head>
	<body>
		<form action='/songs/new' method="POST">
			<label for="title">Title</label>
			<input type="text" name="title" />
			<label for="singer">Singer</label>
			<input type="text" name="singer" />
			<button type="submit" name="add_song">Add song</button>
		</form>
	</body>
</html>